{# templates/pdf/invoice.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Invoice</title>
</head>
<body>
    <h1>Invoice</h1>
    <p>Invoice details go here...</p>
  
    <p>{{ commande.nomc }}</p>
    <p>{{commande.adresse}}</p>
    <p>{{ commande.numtel }}</p>
    <p>{{ commande.email }}</p>
    {# Add other details as needed... #}
</body>
</html>
