{% extends 'base.html.twig' %}

{% block body %}

    {{ parent() }}
    <div class="container mt-5">
        <h2>Edit Line Order</h2>
        {{ form_start(form) }}
        {{ form_row(form.quantite) }}
        <button type="submit" class="btn btn-primary">Update</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
