{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h2>Reservation for the training "{{ formation.titre }}"</h2>
                <h5>It costs "{{ formation.prix }}" dt</h5>
                <form id="payment-form" action="{{ path('process_payment', {'id': formation.id}) }}" method="post">
                    <!-- Add your reservation fields here -->

                    <div class="form-group">
                        <label for="fullName">Full Name</label>
                        <input type="text" class="form-control" id="fullName" name="fullName" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>

                    <!-- Card details section -->
                    <div class="form-group">
                        <label for="cardNumber">Card Number</label>
                        <div id="card-element"></div>
                    </div>

                    <!-- CVC and expiration date -->
                    <div class="form-row">
                        <div class="col">
                            <div id="card-cvc" class="form-control"></div>
                        </div>
                        <div class="col">
                            <div id="card-expiry" class="form-control"></div>
                        </div>
                    </div>

                    <button id="card-button" class="btn btn-primary mt-4">Book</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe('pk_test_51OGMOXL0ywzjvxffqUYYflCe9Q5EkentWEbdikQOwmBa7pyku3CYF6rt2OKYoJpxq9Y5BkFAIJf9AR04xWPEy3l400swqfsj2O');
        var elements = stripe.elements();

        var card = elements.create('card');
        card.mount('#card-element');

        var form = document.getElementById('payment-form');

        form.addEventListener('submit', function (event) {
            event.preventDefault();

            stripe.createPaymentMethod({
                type: 'card',
                card: card,
                billing_details: {
                    name: document.getElementById('fullName').value,
                    email: document.getElementById('email').value,
                },
            }).then(function (result) {
                if (result.error) {
                    // Inform the user if there was an error
                    alert(result.error.message);
                } else {
                    // Add the payment_method to the form and submit
                    var paymentMethodInput = document.createElement('input');
                    paymentMethodInput.setAttribute('type', 'hidden');
                    paymentMethodInput.setAttribute('name', 'payment_method');
                    paymentMethodInput.setAttribute('value', result.paymentMethod.id);
                    form.appendChild(paymentMethodInput);

                    form.submit();
                }
            });
        });
    </script>
{% endblock %}
