{# templates/payment/payment_form.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

    <h2>Payment Form</h2>
    <form action="{{ path('process_payment') }}" method="post">
        <label for="amount">Amount:</label>
        <input type="text" id="amount" name="amount" required>


        <button type="submit">Pay Now</button>
    </form>
{% endblock %}
