{# templates/payment/success.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

    <h2>Payment Successful</h2>
    <p>Amount: {{amount }} USD</p>
    <p>Thank you for your payment!</p>
{% endblock %}
